<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

  <head>

    <base href="//oitofelix.github.io" />

    <title>{{ page.title }}</title>

    <!-- Metadata -->
    <meta charset="utf-8" />
    <meta name="author" content="Bruno Félix Rezende Ribeiro" />

    <!-- External resources -->
    <!-- <link rel="author" href="/about-me.html" /> -->
    <link rel="alternate" type="application/rss+xml"
	  title="OITOFELIX homepage feed" href="/feed.xml" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" media="print" href="/styles/print.css" />
    <link rel="stylesheet" href="/styles/base.css" />
    <link rel="stylesheet" href="/styles/navigation.css" />
    <link rel="stylesheet" href="/styles/emacs-highlight.css" />

    <!-- Licenses -->
    {% if page.license == 'CC BY-ND 4.0' %}
    <link rel="license"
	  href="http://creativecommons.org/licenses/by-nd/4.0/" />
    {% endif %}

    {% if page.license == 'CC BY-SA 4.0' %}
    <link rel="license"
	  href="http://creativecommons.org/licenses/by-sa/4.0/" />
    {% endif %}

    <style type="text/css">
     .nav-bar a[href="{{ site.baseurl | append: page.url | remove: 'index.html' }}"] {
	 color: black;
	 background-color: red;
	 border-color: black;
     }
    </style>

    <!-- Metadata -->
    <meta name="description" content="{{ page.description }}" />
    <meta name="keywords" content="{{ page.tags }}" />

    <!-- External resources -->
    <link rel="stylesheet" href="{{ page.base_local | append: site.baseurl | append: '/index.html' | remove: '.html' | append: '.css'}}" />

    {% unless page.news == null %}
    <script src="/scripts/jquery-1.6.4.min.js"></script>
    <script src="/scripts/jquery.jfeed.pack.js"></script>
    <script src="/scripts/feed2html.js"></script>
    <script>fetchFeed ('/feed.xml', {{ page.news[0] }}, '{{ page.news[1] }}');</script>
    <link rel="stylesheet" href="/styles/news-feed.css" />
    {% endunless %}

  </head>

  <body>

    <header>
      <h1>OITOFELIX</h1>

      <!-- <\!-- ===================== Search tool ===================== -\-> -->
      <!-- <form id="search-form" -->
	    <!--       target="_blank" -->
	    <!--       action="https://startpage.com/do/search" -->
	    <!--       method="post" -->
	    <!--       name="searchsys" -->
	    <!--       autocomplete="off" -->
	    <!--       onsubmit="javascript:document.searchsys.query.value=document.searchsys.keyword.value;"> -->

	    <!--   <input id="search-input" name="keyword" /> -->
	    <!--   <input id="search-image" -->
	    <!--          title="Search this site" alt="Search this site" -->
	    <!--          type="image" src="/images/spacer.png"/> -->

	    <!--   <input type="hidden" name="query" /> -->
	    <!--   <input type="hidden" name="host" value="oitofelix.github.io"/> -->

      <!-- </form> -->

      <!-- ===================== Navigation Menu ===================== -->
      <nav>
	<ul class="nav-bar">

	  <!-- <\!-- Front page -\-> -->
	  <!-- <li><a href="/">Front page</a></li> -->

	  <!-- Curriculum -->
	  <li><a href="/curriculum.html">Curriculum</a></li>

	  <!-- <\!-- About me -\-> -->
	  <!-- <li><a href="/about-me.html">About me</a></li> -->

	  <!-- Donation -->
	  <li><a href="/funding.html">Funding</a></li>

	</ul>
      </nav>

    </header>

    <main>

      <article>

	<div>
	  {{ content }}
	</div>

	<footer>
	  <div id="copyright-notice">

	    {% case page.author %}
	      {% when 'tilim' %}
                <p>
	          <strong>Copyright © César Augustus de Souza Garcia</strong>
	        </p>
	      {% else %}
	        <p>
	          <strong>Copyright © Bruno Félix Rezende Ribeiro</strong>
	        </p>
	      {% endcase %}

	    <p>
	      <!-- CC BY-ND 4.0 -->
	      {% if page.license == 'CC BY-ND 4.0' %}
	      <a href="http://creativecommons.org/licenses/by-nd/4.0/">
		<img src="/images/cc-by-nd.png"
		     title="CC BY-ND 4.0"
		     alt="CC BY-ND 4.0"
		     width="88" height="31" /></a>
		{% endif %}

	      <!-- CC BY-ND 4.0 -->
	      {% if page.license == 'CC BY-SA 4.0' %}
	      <a href="http://creativecommons.org/licenses/by-sa/4.0/">
		<img src="/images/cc-by-sa.png"
		     title="CC BY-SA 4.0"
		     alt="CC BY-SA 4.0"
		     width="88" height="31" /></a>
		{% endif %}

		This work is licensed under a

		<!-- CC BY-ND 4.0 -->
		{% if page.license == 'CC BY-ND 4.0' %}
		<abbr title="Creative Commons Attribution-NoDerivatives 4.0 International">
		  CC BY-ND 4.0</abbr>
		{% endif %}

		<!-- CC BY-SA 4.0 -->
		{% if page.license == 'CC BY-SA 4.0' %}
		<abbr title="Creative Commons Attribution-ShareAlike 4.0 International">
		  CC BY-SA 4.0</abbr>
		{% endif %}

		license.  You are free to copy and redistribute the material in
		any medium or format, for any purpose, provided you abide to the
		license terms.
	    </p>
	  </div>
	</footer>
      </article>

    </main>

    <footer>
      <footer>

	<!-- <\!-- ===================== Navigation Menu ===================== -\-> -->
	<!-- <nav> -->
	<!--   <ul class="nav-bar"> -->

	<!--     <\!-- About this site -\-> -->
	<!--     <li><a href="/about-this-site.html#start">About this site</a></li> -->

	<!--     <\!-- Licenses -\-> -->
	<!--     <li><a href="/about-this-site.html#licensing">Licensing</a></li> -->

	<!--     <\!-- Contact me -\-> -->
	<!--     <li><a href="/about-this-site.html#contact-me">Contact me</a></li> -->

	<!--     <\!-- News -\-> -->
	<!--     <li><a href="/about-this-site.html#news">News</a></li> -->

	<!--   </ul> -->
	<!-- </nav> -->


	<!-- ===================== Contact information ===================== -->
	<address>
	  If you find any broken link, typo, grammatical or factual error,
	  have any criticisms or suggestions, please don't hesitate to
	  contact me at
	  <a href="mailto:oitofelix@riseup.net">oitofelix@riseup.net</a>.
	</address>


<!-- 	<\!-- ===================== Logos ===================== -\-> -->
<!-- 	<div id="footer-logos"> -->
<!-- 	  <p> -->
<!-- 	    <span id="modification-time"><\!--#echo var="LAST_MODIFIED"  -\-></span> -->

<!-- 	    <span id="logos"> -->
<!-- 	      <a rel="jslicense" href="/about-this-site.html#javascript"> -->
<!-- 		<img src="/images/librejs.png" -->
<!-- 		     title="JavaScript license information" -->
<!-- 		     alt="JavaScript license information" -->
<!-- 		     width="72" height="31" /></a> -->
<!-- 		<a href="http://validator.w3.org/check?uri=referer"> -->
<!-- 		  <img src="/images/valid-html5.png" -->
<!-- 		       title="Validate HTML5" -->
<!-- 		       alt="Valid HTML 5" width="88" height="31" /></a> -->
<!-- 		  <a href="http://jigsaw.w3.org/css-validator/check/referer"> -->
<!-- 		    <img src="/images/valid-css.png" -->
<!-- 			 title="Validate CSS" -->
<!-- 			 alt="Valid CSS" width="88" height="31" /></a> -->
<!-- 		    <a -->
<!-- href="http://validator.w3.org/feed/check.cgi?url=http%3A//oitofelix.github.io/feed.xml"> -->
<!-- 		      <img src="/images/valid-rss.png" -->
<!-- 			   title="Validate RSS feed" -->
<!-- 			   alt="Valid RSS" /></a> -->
<!-- 	    </span> -->
<!-- 	  </p> -->
<!-- 	</div> -->


      </footer>
    </footer>

  </body>
</html>
